@model LikeViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="row">
  @foreach(var review in @Model.Reviews.Reverse())
  {
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">@review.Title</h5>
          <p>@review.CreateDate.ToShortDateString() | <span class="glyphicon glyphicon-heart" aria-hidden="true">@review.LikeCount</span></p>
          <a href="@Url.Action("Detail", "Home", new { id = @review.ReviewId})" class="btn btn-primary">@Localizer["Link"]</a>
        </div>
      </div>
    </div>
  }
</div>

