@page
@model ReviewModel

@{
    ViewData["Title"] = "Review";
    ViewData["ActivePage"] = ManageNavPages.Review;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <button onclick="location.href='@Url.Action("Index","Review")'" type="submit" class="btn btn-primary">Create</button>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
          <a asp-page="./Review" asp-route-sortOrder="@Model.NameSort">
              @Html.DisplayNameFor(model => model.Reviews[0].Title)
          </a>
      </th>
      <th scope="col">
          <a asp-page="./Review" asp-route-sortOrder="@Model.DateSort">
              @Html.DisplayNameFor(model => model.Reviews[0].CreateDate)
          </a>
      </th>
      <th scope="col">Tag</th>
      <th scope="col">Rating</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model.Reviews)
        {
          <tr>
           <td>@item.Title</td>
           <td>@item.CreateDate.ToShortDateString()</td>
           <td>
             @foreach(var tag in item.Tags)
             {
                 @tag.Name
             }
           </td>
           <td>Rating</td>
           <td>
               <div class="col-md-6">
                    <a href="@Url.Action("Detail", "Review", new { id = @item.ReviewId})">Detail</a>
               </div>
           </td>
           <td>
               <div class="col-md-6">
                   <form method="post">
                    <button type="submit" class="btn btn-danger" asp-page-handler="delete" asp-route-id="@item.ReviewId">
                        Delete
                    </button>
                   </form>
               </div>
           </td>
           <td>
               <div class="col-md-6">
                    <a href="@Url.Action("Edit", "Review", new { id = @item.ReviewId})">Edit</a>
               </div>
           </td>
          </tr>
        }
  </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}